<html>
    <head>
        <title>COURSE</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/add-student">Add student</a></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/courses/add">Add course</a></li>
            </ul>
        </nav>
        <p>Course <%= name %> added to the list</p>
    </body>
</html>