<html>
    <head><title>ADD-STUDENT</title></head>
    <body>
        <form action="/student" method="POST">
            <label for="firstname">Imię :</label>
            <input type="text" name="firstname" id="firstname">
            <label for="lastname">Nazwisko :</label>
            <input type="text" name="lastname" id="lastname">
            <label for="studyField">Kierunek :</label>
            <input type="text" name="studyField" id="studyField">
            <input type="submit">
        </form>
    </body>
</html>